{% extends 'base.html' %}

{% block title %}Favourites{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="mb-4 text-center">❤️ Your Favourites</h2>
  <div class="mb-3 text-center fw-semibold">
    Total Items: {{ total_items }} &nbsp;&nbsp;|&nbsp;&nbsp; Total Price: ${{ total_price|floatformat:2 }}
  </div>

  {% if products_info %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for item in products_info %}
        <div class="col">
          {% include 'blog_app/components/_card.html' with product=item.product %}
          <div class='d-flex gap-3 mt-4'>
            <form method="post" action="{% url 'delete_item' 'favourite' item.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted text-center">You haven't added any favourites yet.</p>
  {% endif %}
</div>
{% endblock %}


