{% extends 'base.html' %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-6'>
        {% include './components/_product-gallery.html' %}
    </div>
    <div class='col-6'>
        <h2 class="text-center">{{ product.title }}</h2>
        <ul class="list-group">
            <li class="list-group-item">Category: {{ product.category }}</li>
            <li class="list-group-item">Price: ${{ product.price }}</li>
            <li class="list-group-item">Views: {{ product.views }}</li>
            <li class="list-group-item">Created At: {{ product.created_at }}</li>
            <li class="list-group-item">Likes: <span class="text-success">{{ total_likes }}</span></li>
            <li class="list-group-item">Dislikes: <span class="text-danger">{{ total_dislikes }}</span></li>
            <li class="list-group-item">Number of Comments: {{ total_comments }}</li>
        </ul>

        {% if request.user.is_authenticated and request.user != product.author %}
        <div class='d-flex gap-3 mt-4'>
            <a href="{% url 'add_action' product.pk 'add_like' %}" class='btn btn-success'>Like</a>
            <a href="{% url 'add_action' product.pk 'add_dislike' %}" class='btn btn-danger'>Dislike</a>
        </div>
        {% elif request.user.is_authenticated and request.user == product.author %}
        <div class='d-flex gap-3 mt-4'>
            <a href="{% url 'update' product.slug %}" class='btn btn-warning'>
              <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'delete' product.slug %}" class='btn btn-danger'>
              <i class="fas fa-trash-alt"></i> Delete
            </a>
        </div>
        {% endif %}
        <div class='d-flex gap-3 mt-4'>
          <a href="{% url 'add_action' product.pk 'add_basket' %}" class='btn btn-success'>
            <i class="fas fa-shopping-cart"></i> Add to Basket
          </a>
          <a href="{% url 'add_action' product.pk 'add_favourite' %}" class='btn btn-info'>
            <i class="fas fa-heart"></i> Add to Favourites
          </a>
        </div>
    </div>
</div>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% if product.full_description %}
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Full Description</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
          <button class="nav-link {% if not product.full_description %}active{% endif %}" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="comments-tab-pane" aria-selected="false">Comments</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        {% if product.full_description %}
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {{ product.full_description }}
        </div>
        {% endif %}
        <div class="tab-pane py-4 fade {% if not product.full_description %}show active{% endif %}" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="0">
          {% for comment in comments %}
          <div class="card mb-3">
            <div class="card-header">
              {{ comment.created_at }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ comment.text }}</p>
                <footer class="blockquote-footer">{{ comment.author }}</footer>
              </blockquote>
            </div>
          </div>
          {% endfor %}

          <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class='mt-3 btn btn-dark'>Submit</button>
          </form>
        </div>
    </div>
</div>
{% endblock %}
